@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  // background-color: hsl(240, 100%, 98%);
  background-image: url(/images/bg-top.svg);
  background-repeat: no-repeat;
  // background-position: top -5vh right -5vw;
  // background-size: 100%;
}

ul { list-style: none; }
a { text-decoration: none; }